%header.main-navigation
  = link_to root_path, class: 'logo' do
    = icon(:logo)
    %span> improv
    %span> .
    %span> nz

  .search
    = icon(:search)

  .current-user
    = icon(:user)
    %span.name Matt Powell
    = icon(:caret)
