%section.hero
  %picture

  .title
    %h1 Matt Powell
    %h2 Improvisor / Director / MC in Wellington

%section.intro
  .text
    %p
      Butterscotch! Want a lick? It's a jetpack, Michael. What could go wrong? I
      hear the jury's still out on science. And I wouldn't just lie there, if
      that's what you're thinking. That's not what I was thinking. It seems like
      only yesterday you were bursting forth from your mother's fertile womb.

    %p
      I'm sure Egg is a great person. Mission Accomplished. God knows they're
      squinters. Mom always taught us to curl up in a ball and remain motionless
      when confronted. Say goodbye to these! Well, Michael, I did not find their
      buffoonery amusing. Wow. We're just blowing through nap time, aren't we. I
      will be a bigger and hairier mole than the one on your inner left thigh!

  %aside.links
    %ul
      %li
        = link_to 'http://fauxpar.se', target: :_blank do
          = icon(:link)
          %span fauxpar.se
      %li
        = mail_to 'fauxparse@gmail.com' do
          = icon(:mail)
          %span fauxparse@gmail.com
      %li
        = link_to 'tel:0273683595' do
          = icon(:phone)
          %span 027 368 3595
      %li
        = link_to 'http://twitter.com/fauxparse', target: :_blank do
          = icon(:twitter)
          %span @fauxparse
      %li
        = link_to 'http://instagram.com/fauxparse', target: :_blank do
          = icon(:instagram)
          %span @fauxparse
      %li
        = link_to 'http://facebook.com/fauxparse', target: :_blank do
          = icon(:facebook)
          %span Matt Powell
